:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-primary: hsl(215, 28%, 8%);
    --color-secondary: #D1B06B;
    --color-accent: #1F2732;
    --color-gray: #2E3947;
}
body {
    background-color: var(--color-white);
    color: var(--color-black);
}
.dap-bg-primary {
    background-color: var(--color-primary);
}
.dap-bg-accent {
    background-color: var(--color-accent);
}
.dap-bg-secondary {
    background-color: var(--color-secondary);
}
.dap-bg-gray {
    background-color: var(--color-gray);
}
.dap-text-secondary {
    color: var(--color-secondary);
}
.dap-text-accent {
    color: var(--color-accent);
}
.dap-navbar {
    border-bottom: 1px solid var(--color-secondary);
}
button {
    border: none;
    outline: none;
}
.dap-fixed {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    z-index: 2000;
    top: 0;
    left: 0;
}
.dap-story-box {
    padding-bottom: 250px;
    position: relative;
}
.dap-story-box-image {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.dap-content-box img {
    max-width: 500px !important;
    width: 100% !important;
    height: 100%;
}